data/
*.tif
*.png
*.csv
*.jpg

*.pth
*.pt
experiment/*.pth
experiment/
experiment/best_model.pth
experiment/history.pt

overlay_results/*.png
inference_results/*.png
inference_results/*.txt

wandb/
dilation_evolution_grids/
dilation_evolution_grids/*.png
dilation_over_epochs/
dilation_over_epochs_numeric/
evaluation_outputs_5/
evaluation_outputs/
evaluation_outputs_hungarian/
evaluation_outputs_hungarian_5/
evaluation_outputs_hungarian_20/
evaluation_outputs1/

predictions/*.png
predictions/*.csv
predictions/*.json